body{
    background-image: radial-gradient(circle, rgb(29, 31, 45), rgb(19, 21, 31));
}

.cards{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
}

.cards .card{
    background-color: rgb(44, 45, 57);
    border: 3px solid rgb(68, 70, 81);
    width: 222px;
    height: 123px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    transition: all ease .3s;
}

.cards .card:hover{
    transform: scale(1.1);
    border-color: white;
}

.cards .card .card--video-intro{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all ease .3s;
    z-index: -1;
    object-fit: cover;
}

.cards .card:hover .card--video-intro{
    opacity: 1;
}

.cards .card img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}